@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @layer utilities {
    .backdrop-blur {
      backdrop-filter: blur(15.9px);
    }

    .link {
      font-size: 0.8125rem;
      color: #FFFFFF;
      font-family: "Roboto";
      cursor: pointer;
    }
    
    .linkHover:hover {
      transform: scale(1.3);
    }

    .footerTop {
      font-size: 1.028125rem;
      color: #FFFFFF;
      font-weight: bold;
      font-family: "Roboto";
    }

    .footerText {
      font-size: 0.835625rem;
      color: #FFFFFF;
      font-family: "Roboto";
      font-weight: 400;
    }
    .socialHover:hover {
      transform: scale(1.2);
    }

    .heroTop {
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* font-size: 0.8125rem; */
      font-family: "Roboto";
      font-weight: bold;
    }
    .heroBottom {
      font-family: "Roboto";
      color: #FFFFFF;
      text-align: center;
    }

    .bg-cover {
      background-size: cover;
      background-position: center;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
  
  .amin {
    /* background-size: 110%; */
    animation: backgroundImageAnimation 15s infinite;
    background-size: cover;
  }
  
  @keyframes backgroundImageAnimation {
    0%, 100% {
      background-image: url('/src/assets/images/hero-bg2.svg');
      transform: width(130%);
    }
  
    16.66% {
      background-image: url('/src/assets/images/anima-1-2.svg');
      transform: width(70%);
    }
  
    33.33% {
      background-image: url('/src/assets/images/anima-2-1.svg');
      transform: width(130%);
    }
  
    50% {
      background-image: url('/src/assets/images/anima-2-2.svg');
      transform: width(70%);
    }
  
    66.66% {
      background-image: url('/src/assets/images/anima-3-1.svg');
      transform: width(130%);
    }
  
    83.33% {
      background-image: url('/src/assets/images/anima-3-2.svg');
      transform: width(70%);
    }
  }
  
  

  
